---
layout: nil
---
{% include header.html %}

<body class='bp two-col'>

  <div id="container">
    <header>
        My Thoughts Are Yours
    </header>
    <div id="main" role="main">
        {% for post in site.posts %}
        <div class="post" onClick="location.href='{{ post.url }}';">
             {{ post.title }}
         </div>
        {% endfor %}
    </div>
    <footer>
    <div id="YOLK"><a href="http://yolk.cc">YOLK</a></div> 
        <!--
        <a id="YOLK" href="http://yolk.cc">YOLK</a>
        -->
    </footer>
  </div> <!--! end of #container -->


  <!-- JavaScript at the bottom for fast page loading -->

  <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="js/libs/jquery-1.6.2.min.js"><\/script>')</script>


  <!-- scripts concatenated and minified via build script -->
  <script defer src="js/plugins.js"></script>
  <script defer src="js/script.js"></script>
  <!-- end scripts -->

{% include footer.html %}

