---
layout: nil
---
{% include header.html %}

<body class='bp two-col'>

  <div id="container">
    <header>
        My Thoughts Are Yours
    </header>
    <div id="main" role="main">
        {% for post in site.posts %}
        <div class="post" onClick="location.href='{{ post.url }}';">
             {{ post.title }}
         </div>
        {% endfor %}
    </div>
    <footer>
    <div id="YOLK"><a href="http://yolk.cc">YOLK</a></div> 
        <!--
        <a id="YOLK" href="http://yolk.cc">YOLK</a>
        -->
    </footer>
  </div> <!--! end of #container -->


  <!-- JavaScript at the bottom for fast page loading -->

  <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="js/libs/jquery-1.6.2.min.js"><\/script>')</script>


  <!-- scripts concatenated and minified via build script -->
  <script defer src="js/plugins.js"></script>
  <script defer src="js/script.js"></script>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-37547647-3', 'yolk.cc');
  ga('send', 'pageview');

  </script>
  <!-- end scripts -->

{% include footer.html %}

